<!-- _includes/crypto_donations.html -->
<div class="crypto-donations">
  <h2>Support us with crypto-donations</h2>
  <p>Already :</p>
  <ul>
    <li>Bitcoin: <span id="btc-donations">0.00000000</span> BTC</li>
    <li>Ethereum: <span id="eth-donations">0.00000000</span> ETH</li>
    <li>Monero: <span id="xmr-donations">0.00000000</span> XMR</li>
    <li>USDT (TRC-20): <span id="usdt-donations">0.00</span> USDT</li>
  </ul>
  <p>Отправьте донат:</p>
  <ul>
    <li>Bitcoin: <img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=bitcoin:YOUR_BITCOIN_ADDRESS" alt="Bitcoin QR Code"></li>
    <li>Ethereum: <img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=ethereum:YOUR_ETHEREUM_ADDRESS" alt="Ethereum QR Code"></li>
    <li>Monero: <img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=monero:YOUR_MONERO_ADDRESS" alt="Monero QR Code"></li>
    <li>USDT (TRC-20): <img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=trc20:YOUR_USDT_ADDRESS" alt="USDT QR Code"></li>
  </ul>
</div>
